<app-header />

<!--<main>-->
<!--  <ul id="books">-->
<!--    @for (book of books; track book.id) {-->
<!--      <li>-->
<!--        <app-book-->
<!--          [book]="book"-->
<!--          [selected]="book.id === selectedBookId"-->
<!--          (select)="onSelectBook($event)"-->
<!--        />-->
<!--      </li>-->
<!--    }-->
<!--  </ul>-->

<!--  @if (selectedBook) {-->
<!--    <app-selected-book [book]="selectedBook"/>-->
<!--  } @else {-->
<!--    <p id="fallback">Select a book</p>-->
<!--  }-->
<!--</main>-->

<router-outlet />
