@import 'app/app.component';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #6f5033, #4f2539);
  color: #c3b3d8;
  margin: 0;
  padding: 0;
  height: 100%;
}
