@if (isCreatingBook) {
  <app-new-book (close)="onCloseAddBook()" />
}

<main>
  <ul id="books">
    @for (book of books; track book.id) {
      <li>
        <app-book
          [book]="book"
          [selected]="book.id === selectedBookId"
          (select)="onSelectBook($event)"
        />
      </li>
    }
    <li><button id="new-book-button" (click)="onStartAddBook()">Create New Book</button></li>
  </ul>

  @if (selectedBook) {
    <app-selected-book [book]="selectedBook" (edit)="onStartEditBook()" (delete)="onDeleteBook($event)"/>
    @if (isEditingBook) {
      <app-edit-book [book]="selectedBook" (close)="onCloseEditBook()" />
    }
  } @else {
    <p id="fallback">Select a book</p>
  }
</main>
